[Desktop Entry]
Encoding=UTF-8
Name=QSynth
Comment=Qt front-end to fluidsynth
Comment[pl]=Oparta o Qt nakładka na fluidsynth
Exec=qsynth
Icon=qsynth.xpm
Terminal=false
Type=Application
Categories=Application;AudioVideo;
# vi: encoding=utf-8
